{{ 'section-aboutus-style2.css' | asset_url | stylesheet_tag }}
<div class="{{ section.settings.section_width }}">
  <div class="main-about-us-section2 section-{{ section.id }}-padding {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">
   <div class="page-width">
     <div class="about">
      <div class="about-main2">
        <div class="main-about-us-section2-wrapper {{ section.settings.image_position }}">
          <div class="main-about-us-left-side-part2">
            <div class="main-master-magnifly2">
                  {% if section.settings.about-us-img != blank %}
                  <div class="media media--transparent ratio" style="--ratio-percent: 100%">
                    {{ section.settings.about-us-img | image_url: width: 1920 | image_tag : loading: 'lazy', class: 'w-100' }}
                  </div>
                  {% else %}
                  <div class="media media--transparent ratio" style="--ratio-percent: 100%">
                    {{ 'collection-6' | placeholder_svg_tag: 'placeholder-svg placeholder' }}
                  </div>
                  {% endif %}
              </div>
  
             <div class="about-inner2">
                  <div class="small-image-inner-well2">
                    {% if section.settings.about-us-smallimg != blank %}
                    <div class="media media--transparent ratio" style="--ratio-percent: 100%">
                      {{ section.settings.about-us-smallimg | image_url: width: 1920 | image_tag : loading: 'lazy', class: 'w-100' }}
                    </div>
                    {% else %}
                    <div class="media media--transparent ratio" style="--ratio-percent: 100%">
                      {{ 'collection-5' | placeholder_svg_tag: 'placeholder-svg placeholder' }}
                    </div>
                    {% endif %}
                  </div>
            </div>
  
             <div class="about-inner-wrap2">
                  <div class="small-image-inn-well">
                    {% if section.settings.about-us-inner1 != blank %}
                    <div class="media media--transparent ratio" style="--ratio-percent: 95%">
                      {{ section.settings.about-us-inner1 | image_url: width: 1920 | image_tag : loading: 'lazy', class: 'w-100' }}
                    </div>
                    {% endif %}
                  </div>
            </div>
  
            <div class="about-inner-wrap3">
                  <div class="small-image-inn-well1">
                    {% if section.settings.about-us-inner2 != blank %}
                    <div class="media media--transparent ratio" style="--ratio-percent: 165%">
                      {{ section.settings.about-us-inner2 | image_url: width: 1920 | image_tag : loading: 'lazy', class: 'w-100' }}
                    </div>
                    {% endif %}
                  </div>
            </div>
            
          </div>
          <div class="main-about-us-right-side-part2 main-about-us-right-side-part2--{{ section.settings.text_alignment }}">
            <div class="about-text-sec2">
            {% if section.settings.heading-img != blank or section.settings.main_subheading != blank or section.settings.main_heading != blank %}
             <div class="about_title_wrap2">
              {% if section.settings.heading-img != blank %}
                <div class="heading-img w-100 {{ section.settings.text_alignment }}">
                  <img src="{{ section.settings.heading-img | img_url: 'master' }}" alt="slider-img" class="w-100" loading="eager">
                </div>
              {% endif %}
               {% if section.settings.main_subheading != blank %}
                  <span class="theme_main_subheading">{{ section.settings.main_subheading }}</span>
               {% endif %}
               {% if section.settings.main_heading != blank %}
                <div class="theme_main_heading h2">{{ section.settings.main_heading }}</div>
               {% endif %}
            </div>
            {% endif %}
            
            <div class="about-content-block2">
            {% for block in section.blocks %}
            {% if block.type == 'about-content' %}
            <div class="about-content-text2">
              <div class="about-content-number2 {% if section.settings.number_shape == "square" %}about_number_square2{% endif %}">
                {% if block.settings.content_img != blank %}
                  <div class="media media--transparent ratio" style="--ratio-percent: 100%">
                    {{ block.settings.content_img | image_url: width: 1920 | image_tag : loading: 'lazy', class: 'w-100' }}
                  </div>
                  {% else %}
                  <div class="media media--transparent ratio" style="--ratio-percent: 100%">
                    {{ 'collection-5' | placeholder_svg_tag: 'placeholder-svg placeholder' }}
                  </div>
                {% endif %}
                
              </div>
              <div class="about-content-heading2">
                <div class="h4">{{ block.settings.content_heading }}</div>
              </div>
            </div>
            {% endif %}
            {% endfor %}
            </div>
            {% if section.settings.about-main-paragraph != blank %}
              <div class="theme_main_description">{{ section.settings.about-main-paragraph }}</div>
            {% endif %}
            <div class="about_button2 about_btn2--{{ section.settings.text_alignment }}">
              <a {% if section.settings.about-btn-url %} href="{{ section.settings.about-btn-url }}" {% else %} role="link"
              aria-disabled="true" {% endif %} class="button theme_buttons">{{ section.settings.about-btn-text }}</a>
            </div>
          </div>
          </div>
        </div>
      </div>
    </div>
   </div>
  </div>
</div>

{% style %}
  .main-master-magnifly2 .media,
  .small-image-inner-well2 .media{
    border: 8px solid {{ section.settings.content-bg }};
  }
  .about .main-about-us-right-side-part2 .heading-img.center{
    margin: 0 auto;
  }
  .about .main-about-us-right-side-part2 .heading-img.right{
    margin: 0 0 0 auto;
  }
  .main-about-us-right-side-part2 .theme_main_subheading {
    color: {{ section.settings.theme_subheading_color }};
  }
  .main-about-us-right-side-part2 .theme_main_heading {
    color: {{ section.settings.theme_heading_color }};
    text-transform: var(--text_style);
  }
  .main-about-us-right-side-part2 .theme_main_description{
    color: {{ section.settings.content_color }};
    border-top: 1px solid {{ settings.border_color }};
  }
  .main-about-us-right-side-part2 .theme_buttons {
    background-color: {{ section.settings.theme_btn_bg }};
    color:{{ section.settings.theme_btn_text }};
  }
  .main-about-us-right-side-part2 .theme_buttons:hover {
    background-color: {{ section.settings.theme_btn_hr_bg }};
    color:{{ section.settings.theme_btn_hr_text }}; 
  }
  .about-content-text2 .about-content-heading2 .h4{
    color: {{ section.settings.content-text }};
  }
  .about-content-text2 .about-content-number2 {
    background-color: {{ section.settings.content-bg }};
  }
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding-top }}px;
    padding-bottom: {{ section.settings.padding-bottom }}px;
    margin-top: {{ section.settings.margin-top }}px;
    margin-bottom: {{ section.settings.margin-bottom }}px;
    background-color: {{ section.settings.section_bg }};
  }
  @media screen and (max-width: 1429px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding-top-1429 }}px;
      padding-bottom: {{ section.settings.padding-bottom-1429 }}px;
      margin-top: {{ section.settings.margin-top-1429 }}px;
      margin-bottom: {{ section.settings.margin-bottom-1429 }}px;
    }
  }
  @media screen and (max-width: 1199px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding-top-1199 }}px;
      padding-bottom: {{ section.settings.padding-bottom-1199 }}px;
      margin-top: {{ section.settings.margin-top-1199 }}px;
      margin-bottom: {{ section.settings.margin-bottom-1199 }}px;
    }
  }
  @media screen and (max-width: 991px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding-top-991 }}px;
      padding-bottom: {{ section.settings.padding-bottom-991 }}px;
      margin-top: {{ section.settings.margin-top-991 }}px;
      margin-bottom: {{ section.settings.margin-bottom-991 }}px;
    }
  }
  @media screen and (max-width: 767px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding-top-767 }}px;
      padding-bottom: {{ section.settings.padding-bottom-767 }}px;
      margin-top: {{ section.settings.margin-top-767 }}px;
      margin-bottom: {{ section.settings.margin-bottom-767 }}px;  
    }
  }
  @media screen and (max-width: 575px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding-top-575 }}px;
      padding-bottom: {{ section.settings.padding-bottom-575 }}px;
      margin-top: {{ section.settings.margin-top-575 }}px;
      margin-bottom: {{ section.settings.margin-bottom-575 }}px;  
    }
  }
{% endstyle %}

{% schema %}
  {
    "name": "Aboutus section style2",
    "tag": "section",
    "class": "section",
    "settings": [
      {
        "type": "select",
        "id": "section_width",
        "options": [
          {
            "value": "full_width",
            "label": "Full width"
          },          
          {
            "value": "padding_width",
            "label": "With padding"
          }
        ],
        "label": "Section width",
        "default": "full_width"
      },
      {
      "type": "header",
      "content": "Image settings"
    },
    {
      "type": "image_picker",
      "id": "about-us-img",
      "label": "Main image"
    },
    {
      "type": "image_picker",
      "id": "about-us-smallimg",
      "label": "Small image"      
    },
    {
      "type": "image_picker",
      "id": "about-us-inner1",
      "label": "Before image"      
    },
    {
      "type": "image_picker",
      "id": "about-us-inner2",
      "label": "After image"      
    },
    {
      "type": "header",
      "content": "Text Settings"
    },
    {
      "type" : "image_picker",
      "id" : "heading-img",
      "label" : "Heading image"
    },
    {
      "type": "text",
      "id": "main_subheading",
      "label": "Subheading",
      "default": "About your brand"
    },
    {
      "type": "textarea",
      "id": "main_heading",
      "label": "Heading",
      "default": "About us"
    },
    {
      "type": "textarea",
      "id": "about-main-paragraph",
      "label": "Content",
      "default": "Pair text with an image to focus on your brand and description of your brand."
    },
    {
      "type": "text",
      "id": "about-btn-text",
      "label": "Button",
      "default": "Shop now"
    },
    {
      "type": "url",
      "id": "about-btn-url",
      "label": "Button link"
    },
    {
      "type": "select",
      "id": "text_alignment",
      "label": "Content text alignment",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ],
      "default": "left"
    },
    {
      "type": "header",
      "content": "Color settings"
    },
    {
      "type": "color",
      "id": "section_bg",
      "label": "Section background color"
    },
    {
      "type": "color",
      "id": "theme_subheading_color",
      "label": "Subheading color",
      "default": "#519b4d"
    },
    {
      "type": "color",
      "id": "theme_heading_color",
      "label": "Heading color",
      "default": "#333333"
    },
    {
      "type": "color",
      "id": "content-bg",
      "label": "Image bg color",
      "default": "#e5e5e5"
    },
    {
      "type": "color",
      "id": "content-text",
      "label": "Content text color",
      "default": "#333333"
    },
    {
      "type": "color",
      "id": "content_color",
      "label": "Description color",
      "default": "#666666"
    },
    {
      "type": "color",
      "id": "theme_btn_bg",
      "label": "Button bg color",
      "default": "#333333"
    },
    {
      "type": "color",
      "id": "theme_btn_text",
      "label": "Button text color",
      "default": "#ffffff"
    },
    {
      "type": "color",
      "id": "theme_btn_hr_bg",
      "label": "Button hover bg color",
      "default": "#111111"
    },
    {
      "type": "color",
      "id": "theme_btn_hr_text",
      "label": "Button hover text color",
      "default": "#ffffff"
    },
    {
      "type": "select",
      "id": "number_shape",
      "options": [
        {
          "value": "round",
          "label": "Round"
        },
        {
          "value": "square",
          "label": "Square"
        }
      ],
      "default": "round",
      "label": "Number shape"
    },
    {
        "type": "header",
        "content": "t:sections.all.padding.section_padding_heading"
      },
      {
        "type": "number",
        "id": "padding-top",
        "label": "t:sections.all.padding.padding_top",
        "default": 120
      },
      {
        "type": "number",
        "id": "padding-bottom",
        "label": "t:sections.all.padding.padding_bottom",
        "default": 120
      },
      {
        "type": "header",
        "content": "Screen wise section padding"
      },
      {
        "type": "header",
        "content": "@media screen 1429"
      },
      {
        "type": "number",
        "id": "padding-top-1429",
        "label": "Padding top",
        "default": 70
      },
      {
        "type": "number",
        "id": "padding-bottom-1429",
        "label": "Padding bottom",
        "default": 70
      },
      {
        "type": "header",
        "content": "@media screen 1199"
      },
      {
        "type": "number",
        "id": "padding-top-1199",
        "label": "Padding top",
        "default": 60
      },
      {
        "type": "number",
        "id": "padding-bottom-1199",
        "label": "Padding bottom",
        "default": 60
      },
      {
        "type": "header",
        "content": "@media screen 991"
      },
      {
        "type": "number",
        "id": "padding-top-991",
        "label": "Padding top",
        "default": 50
      },
      {
        "type": "number",
        "id": "padding-bottom-991",
        "label": "Padding bottom",
        "default": 50
      },
      {
        "type": "header",
        "content": "@media screen 767"
      },
      {
        "type": "number",
        "id": "padding-top-767",
        "label": "Padding top",
        "default": 40
      },
      {
        "type": "number",
        "id": "padding-bottom-767",
        "label": "Padding bottom",
        "default": 40
      },
      {
        "type": "header",
        "content": "@media screen 575"
      },
      {
        "type": "number",
        "id": "padding-top-575",
        "label": "Padding top",
        "default": 30
      },
      {
        "type": "number",
        "id": "padding-bottom-575",
        "label": "Padding bottom",
        "default": 30
      },
      {
        "type": "header",
        "content": "Margin settings"
      },
      {
        "type": "number",
        "id": "margin-top",
        "label": "Margin top",
        "default": 0
      },
      {
        "type": "number",
        "id": "margin-bottom",
        "label": "Margin bottom",
        "default": 0
      },
      {
        "type": "header",
        "content": "Screen wise section margin"
      },
      {
        "type": "header",
        "content": "@media screen 1429"
      },
      {
        "type": "number",
        "id": "margin-top-1429",
        "label": "Margin top",
        "default": 0
      },
      {
        "type": "number",
        "id": "margin-bottom-1429",
        "label": "Margin bottom",
        "default": 0
      },
      {
        "type": "header",
        "content": "@media screen 1199"
      },
      {
        "type": "number",
        "id": "margin-top-1199",
        "label": "Margin top",
        "default": 0
      },
      {
        "type": "number",
        "id": "margin-bottom-1199",
        "label": "Margin bottom",
        "default": 0
      },
      {
        "type": "header",
        "content": "@media screen 991"
      },
      {
        "type": "number",
        "id": "margin-top-991",
        "label": "Margin top",
        "default": 0
      },
      {
        "type": "number",
        "id": "margin-bottom-991",
        "label": "Margin bottom",
        "default": 0
      },
      {
        "type": "header",
        "content": "@media screen 767"
      },
      {
        "type": "number",
        "id": "margin-top-767",
        "label": "Margin top",
        "default": 0
      },
      {
        "type": "number",
        "id": "margin-bottom-767",
        "label": "Margin bottom",
        "default": 0
      },
      {
        "type": "header",
        "content": "@media screen 575"
      },
      {
        "type": "number",
        "id": "margin-top-575",
        "label": "Margin top",
        "default": 0
      },
      {
        "type": "number",
        "id": "margin-bottom-575",
        "label": "Margin bottom",
        "default": 0
      }
    ],
    "blocks": [
        {
          "type": "about-content",
          "name": "About content",
          "limit": 4,
          "settings": [
            {
              "type": "image_picker",
              "id": "content_img",
              "label": "Image"
            },
            {
              "type": "textarea",
              "id": "content_heading",
              "label": "Heading",
              "default": "Content heading"
            }
          ]
        }
      ],
     "presets": [
      {
        "name": "Aboutus section style2",
        "blocks": [
          {
            "type": "about-content"
          },
          {
            "type": "about-content"
          }
        ]
      }
    ]
  }
{% endschema %}