{{ 'service-section-style3.css' | asset_url | stylesheet_tag }}

<div class="{{ section.settings.section_width }}">
  <div class="section-{{ section.id }}-padding why-choose-us-section {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">
    <div class="why-choose-us-section-wrapper">
    <div class="page-width">
      <div class="why-chose-us-products-section3">
        <div class="why-chose-us-products-section3-wrapper3">
          <div class="why-choose-us-product-block-image3">
            <div class="why-choose-us-center-img">
              {% if section.settings.why-choose-block-main-image != blank %}
              <div class="media media--transparent ratio" style="--ratio-percent: 105%">
                <img src="{{ section.settings.why-choose-block-main-image | img_url: 'master' }}" alt="why-choose-us-img"
                  class="w-100" loading="lazy">
              </div>
              {% else %}
              <div class="media media--transparent ratio" style="--ratio-percent: 105%">
                {{ 'image' | placeholder_svg_tag: 'placeholder-svg placeholder' }}
              </div>
              {% endif %}
            </div>
          </div>
          
          <div class="why-choose-us-product-block-content3">
            <div class="why-choose-product-title3 why-choose-product-title3--{{ section.settings.text_alignment }}">
              {% if section.settings.heading-img != blank or section.settings.main_subheading != blank or section.settings.main_heading != blank or section.settings.main_paragraph != blank %}
                <div class="why-choose-product-title3-wrapper title_bottom_margin">
                {% if section.settings.heading-img != blank %}
                  <div class="heading-img w-100 {{ section.settings.text_alignment }}">
                    <img src="{{ section.settings.heading-img | img_url: 'master' }}" alt="slider-img" class="w-100" loading="eager">
                  </div>
                {% endif %}
                  {% if section.settings.main_subheading != blank %} <div class="theme_main_subheading">{{ section.settings.main_subheading }}</div>{% endif %}
                  {% if section.settings.main_heading != blank %}<div class="theme_main_heading">{{ section.settings.main_heading }}</div>{% endif %}
                  {% if section.settings.main_paragraph != blank %}<p class="theme_main_description">{{ section.settings.main_paragraph }}</p>{% endif %}
                </div>
              {% endif %}
            </div>
                  
            <div class="why-choose-us-product-block-content3-wrapper">
              <div class="why-choose-block-inner why-choose-us-product-block-content3-wrapper--{{ section.settings.first_content_text_alignment }}">
                <div class="why-choose-us-content-img">
                  {% if section.settings.first-why-choose-block-image != blank %}
                  <div class="media media--transparent ratio" style="--ratio-percent: 100%">
                    {{ section.settings.first-why-choose-block-image | image_url: width: 1920 | image_tag : loading: 'lazy', class: 'w-100' }}
                  </div>
                  {% else %}
                  <div class="media media--transparent ratio" style="--ratio-percent: 100%">
                    {{ 'image' | placeholder_svg_tag: 'placeholder-svg placeholder' }}
                  </div>
                  {% endif %}
                </div>
                <div class="why-choose-us-content-text3">
                  <div class="heading-title">{{ section.settings.first-why-choose-heading }}</div>
                  <div class="content-paragraph">{{ section.settings.first-why-choose-content }}</div>
                </div>
              </div>
            </div>

            <div class="why-choose-us-product-block-content3-wrapper">
              <div class="why-choose-block-inner why-choose-us-product-block-content3-wrapper--{{ section.settings.second_content_text_alignment }}">
                <div class="why-choose-us-content-img">
                  {% if section.settings.second-why-choose-block-image != blank %}
                  <div class="media media--transparent ratio" style="--ratio-percent: 100%">
                    {{ section.settings.second-why-choose-block-image | image_url: width: 1920 | image_tag : loading: 'lazy', class: 'w-100' }}
                  </div>
                  {% else %}
                  <div class="media media--transparent ratio" style="--ratio-percent: 100%">
                    {{ 'image' | placeholder_svg_tag: 'placeholder-svg placeholder' }}
                  </div>
                  {% endif %}
                </div>
                <div class="why-choose-us-content-text3">
                  <div class="heading-title">{{ section.settings.second-why-choose-heading }}</div>
                  <div class="content-paragraph">{{ section.settings.second-why-choose-content }}</div>
                </div>
              </div>
            </div>

            <div class="why-choose-us-product-block-content3-wrapper">
              <div class="why-choose-block-inner why-choose-us-product-block-content3-wrapper--{{ section.settings.third_content_text_alignment }}">
                <div class="why-choose-us-content-img">
                  {% if section.settings.third-why-choose-block-image != blank %}
                  <div class="media media--transparent ratio" style="--ratio-percent: 100%">
                    {{ section.settings.third-why-choose-block-image | image_url: width: 1920 | image_tag : loading: 'lazy', class: 'w-100' }}
                  </div>
                  {% else %}
                  <div class="media media--transparent ratio" style="--ratio-percent: 100%">
                    {{ 'image' | placeholder_svg_tag: 'placeholder-svg placeholder' }}
                  </div>
                  {% endif %}
                </div>
                <div class="why-choose-us-content-text3">
                  <div class="heading-title">{{ section.settings.third-why-choose-heading }}</div>
                  <div class="content-paragraph">{{ section.settings.third-why-choose-content }}</div>
                </div>
              </div>
            </div>
          
            <div class="why-choose-us-product-block-content3-wrapper">
             <div class="why-choose-block-inner why-choose-us-product-block-content3-wrapper--{{ section.settings.fourth_content_text_alignment }}">
                <div class="why-choose-us-content-img">
                  {% if section.settings.fourth-why-choose-block-image != blank %}
                  <div class="media media--transparent ratio" style="--ratio-percent: 100%">
                    {{ section.settings.fourth-why-choose-block-image | image_url: width: 1920 | image_tag : loading: 'lazy', class: 'w-100' }}
                  </div>
                  {% else %}
                  <div class="media media--transparent ratio" style="--ratio-percent: 100%">
                    {{ 'image' | placeholder_svg_tag: 'placeholder-svg placeholder' }}
                  </div>
                  {% endif %}
                </div>
                <div class="why-choose-us-content-text3">
                  <div class="heading-title">{{ section.settings.fourth-why-choose-heading }}</div>
                  <div class="content-paragraph">{{ section.settings.fourth-why-choose-content }}</div>
                </div>
             </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{%- style -%}
  .why-choose-product-title3 .heading-img.center{
    margin: 0 auto;
  }
  .why-choose-product-title3 .heading-img.right{
    margin: 0 0 0 auto;
  }
  .why-choose-product-title3 .theme_main_heading {
    color: {{ section.settings.theme_heading_color }};
  }
  .why-choose-product-title3 .theme_main_subheading {
    color: {{ section.settings.theme_subheading_color }};
  }
  .why-choose-product-title3 .theme_main_description{
    color: {{ section.settings.content_color }};
  }
  .why-choose-us-content-text3 .heading-title {
    color: {{ section.settings.heading_color }};
  }
  .why-choose-us-content-text3 .content-paragraph {
    color: {{ section.settings.desc_color }};
  }
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding-top }}px;
    padding-bottom: {{ section.settings.padding-bottom }}px;
    margin-top: {{ section.settings.margin-top }}px;
    margin-bottom: {{ section.settings.margin-bottom }}px;
    background-color: {{ section.settings.section_bg }};
  }
  @media screen and (max-width: 1429px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding-top-1429 }}px;
      padding-bottom: {{ section.settings.padding-bottom-1429 }}px;
      margin-top: {{ section.settings.margin-top-1429 }}px;
      margin-bottom: {{ section.settings.margin-bottom-1429 }}px;
    }
  }
  @media screen and (max-width: 1199px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding-top-1199 }}px;
      padding-bottom: {{ section.settings.padding-bottom-1199 }}px;
      margin-top: {{ section.settings.margin-top-1199 }}px;
      margin-bottom: {{ section.settings.margin-bottom-1199 }}px;
    }
  }
  @media screen and (max-width: 991px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding-top-991 }}px;
      padding-bottom: {{ section.settings.padding-bottom-991 }}px;
      margin-top: {{ section.settings.margin-top-991 }}px;
      margin-bottom: {{ section.settings.margin-bottom-991 }}px;
    }
  }
  @media screen and (max-width: 767px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding-top-767 }}px;
      padding-bottom: {{ section.settings.padding-bottom-767 }}px;
      margin-top: {{ section.settings.margin-top-767 }}px;
      margin-bottom: {{ section.settings.margin-bottom-767 }}px;  
    }
  }
  @media screen and (max-width: 575px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding-top-575 }}px;
      padding-bottom: {{ section.settings.padding-bottom-575 }}px;
      margin-top: {{ section.settings.margin-top-575 }}px;
      margin-bottom: {{ section.settings.margin-bottom-575 }}px;  
    }
  }
{%- endstyle -%}


{% schema %}
  {
  "name": "Service section style3",
  "tag": "section",
  "class": "Service section",
  "settings": [
    {
      "type": "select",
      "id": "section_width",
      "options": [
        {
          "value": "full_width",
          "label": "Full width"
        },
        {
          "value": "padding_width",
          "label": "With padding"
        }
      ],
      "label": "Section width",
      "default": "full_width"
    },
    {
      "type" : "image_picker",
      "id" : "heading-img",
      "label" : "Heading image"
    },
    {
      "type": "text",
      "id": "main_subheading",
      "label": "Subheading",
      "default": "Why Choose US"
    },
    {
      "type": "textarea",
      "id": "main_heading",
      "label": "Heading",
      "default": "Why Choose Our Products"
    },
    {
      "type": "textarea",
      "id": "main_paragraph",
      "label": "Content",
      "default": "Pair text with an image to focus on your chosen product."
    },
    {
      "type": "select",
      "id": "text_alignment",
      "label": "Main title alignment",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ],
      "default": "left"
    },
    {
      "type": "header",
      "content": "Image setting"
    },
    {
      "type": "image_picker",
      "id": "why-choose-block-main-image",
      "label": "Image",
      "info": "650px X 615px"
    },
    {
      "type": "header",
      "content": "First content"
    },
    {
      "type": "image_picker",
      "id": "first-why-choose-block-image",
      "label": "Image",
      "info": "50px X 50px"
    },
    {
      "type": "text",
      "id": "first-why-choose-heading",
      "label": "Heading",
      "default": "Main heading"
    },
    {
      "type": "textarea",
      "id": "first-why-choose-content",
      "label": "Content",
      "default": "Pair text with an image to focus on your chosen product."
    },
    {
      "type": "select",
      "id": "first_content_text_alignment",
      "label": "Content title alignment",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ],
      "default": "left"
    },
    {
      "type": "header",
      "content": "Second content"
    },
    {
      "type": "image_picker",
      "id": "second-why-choose-block-image",
      "label": "Image",
      "info": "50px X 50px"
    },
    {
      "type": "text",
      "id": "second-why-choose-heading",
      "label": "Heading",
      "default": "Main heading"
    },
    {
      "type": "textarea",
      "id": "second-why-choose-content",
      "label": "Content",
      "default": "Pair text with an image to focus on your chosen product."
    },
    {
      "type": "select",
      "id": "second_content_text_alignment",
      "label": "Content title alignment",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ],
      "default": "left"
    },
    {
      "type": "header",
      "content": "Third content"
    },
    {
      "type": "image_picker",
      "id": "third-why-choose-block-image",
      "label": "Image",
      "info": "50px X 50px"
    },
    {
      "type": "text",
      "id": "third-why-choose-heading",
      "label": "Heading",
      "default": "Main heading"
    },
    {
      "type": "textarea",
      "id": "third-why-choose-content",
      "label": "Content",
      "default": "Pair text with an image to focus on your chosen product."
    },
    {
      "type": "select",
      "id": "third_content_text_alignment",
      "label": "Content title alignment",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ],
      "default": "left"
    },
    {
      "type": "header",
      "content": "Fourth content"
    },
    {
      "type": "image_picker",
      "id": "fourth-why-choose-block-image",
      "label": "Image",
      "info": "50px X 50px"
    },
    {
      "type": "text",
      "id": "fourth-why-choose-heading",
      "label": "Heading",
      "default": "Main heading"
    },
    {
      "type": "textarea",
      "id": "fourth-why-choose-content",
      "label": "Content",
      "default": "Pair text with an image to focus on your chosen product."
    },
    {
      "type": "select",
      "id": "fourth_content_text_alignment",
      "label": "Content title alignment",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ],
      "default": "left"
    },
    {
      "type": "header",
      "content": "Color settings"
    },
    {
      "type": "color",
      "id": "section_bg",
      "label": "Section bg",
      "default": "#ffffff"
    },
    {
      "type": "color",
      "id": "theme_subheading_color",
      "label": "Subheading color",
      "default": "#333333"
    },
    {
      "type": "color",
      "id": "theme_heading_color",
      "label": "Heading color",
      "default": "#333333"
    },
    {
      "type": "color",
      "id": "content_color",
      "label": "Description color",
      "default": "#666666"
    },
    {
      "type": "color",
      "id": "heading_color",
      "label": "Content color",
      "default": "#333333"
    },
    {
      "type": "color",
      "id": "desc_color",
      "label": "Content description color",
      "default": "#666666"
    },
    {
        "type": "header",
        "content": "t:sections.all.padding.section_padding_heading"
      },
      {
        "type": "number",
        "id": "padding-top",
        "label": "t:sections.all.padding.padding_top",
        "default": 120
      },
      {
        "type": "number",
        "id": "padding-bottom",
        "label": "t:sections.all.padding.padding_bottom",
        "default": 120
      },
      {
        "type": "header",
        "content": "Screen wise section padding"
      },
      {
        "type": "header",
        "content": "@media screen 1429"
      },
      {
        "type": "number",
        "id": "padding-top-1429",
        "label": "Padding top",
        "default": 70
      },
      {
        "type": "number",
        "id": "padding-bottom-1429",
        "label": "Padding bottom",
        "default": 70
      },
      {
        "type": "header",
        "content": "@media screen 1199"
      },
      {
        "type": "number",
        "id": "padding-top-1199",
        "label": "Padding top",
        "default": 60
      },
      {
        "type": "number",
        "id": "padding-bottom-1199",
        "label": "Padding bottom",
        "default": 60
      },
      {
        "type": "header",
        "content": "@media screen 991"
      },
      {
        "type": "number",
        "id": "padding-top-991",
        "label": "Padding top",
        "default": 50
      },
      {
        "type": "number",
        "id": "padding-bottom-991",
        "label": "Padding bottom",
        "default": 50
      },
      {
        "type": "header",
        "content": "@media screen 767"
      },
      {
        "type": "number",
        "id": "padding-top-767",
        "label": "Padding top",
        "default": 40
      },
      {
        "type": "number",
        "id": "padding-bottom-767",
        "label": "Padding bottom",
        "default": 40
      },
      {
        "type": "header",
        "content": "@media screen 575"
      },
      {
        "type": "number",
        "id": "padding-top-575",
        "label": "Padding top",
        "default": 30
      },
      {
        "type": "number",
        "id": "padding-bottom-575",
        "label": "Padding bottom",
        "default": 30
      },
      {
        "type": "header",
        "content": "Margin settings"
      },
      {
        "type": "number",
        "id": "margin-top",
        "label": "Margin top",
        "default": 0
      },
      {
        "type": "number",
        "id": "margin-bottom",
        "label": "Margin bottom",
        "default": 0
      },
      {
        "type": "header",
        "content": "Screen wise section margin"
      },
      {
        "type": "header",
        "content": "@media screen 1429"
      },
      {
        "type": "number",
        "id": "margin-top-1429",
        "label": "Margin top",
        "default": 0
      },
      {
        "type": "number",
        "id": "margin-bottom-1429",
        "label": "Margin bottom",
        "default": 0
      },
      {
        "type": "header",
        "content": "@media screen 1199"
      },
      {
        "type": "number",
        "id": "margin-top-1199",
        "label": "Margin top",
        "default": 0
      },
      {
        "type": "number",
        "id": "margin-bottom-1199",
        "label": "Margin bottom",
        "default": 0
      },
      {
        "type": "header",
        "content": "@media screen 991"
      },
      {
        "type": "number",
        "id": "margin-top-991",
        "label": "Margin top",
        "default": 0
      },
      {
        "type": "number",
        "id": "margin-bottom-991",
        "label": "Margin bottom",
        "default": 0
      },
      {
        "type": "header",
        "content": "@media screen 767"
      },
      {
        "type": "number",
        "id": "margin-top-767",
        "label": "Margin top",
        "default": 0
      },
      {
        "type": "number",
        "id": "margin-bottom-767",
        "label": "Margin bottom",
        "default": 0
      },
      {
        "type": "header",
        "content": "@media screen 575"
      },
      {
        "type": "number",
        "id": "margin-top-575",
        "label": "Margin top",
        "default": 0
      },
      {
        "type": "number",
        "id": "margin-bottom-575",
        "label": "Margin bottom",
        "default": 0
      }
  ],
  "presets": [
    {
      "name": "Service section style3"
    }
  ]
}
{% endschema %}